[submodule "Nexus/vendor/spdlog"]
	path = Nexus/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nexus/vendor/GLFW"]
	path = Nexus/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
